on:
  push:

jobs:
  test-compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run compilation tests
        uses: ./actions/test-compilation
        with:
          clients: 'all'
          docs-repo: 'datastax/astra-client-docs-tests#master'
          examples-path: 'resources/mock_examples'
